/* Cabeçalho e mobile */
@media screen and (max-width: 768px) {
    #nav_list, #navbar .btn_default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;
    }

    #mobile_menu .nav_item {
        text-align: center;
        list-style: none;
    }
}

/* Home contatos e informações */
@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0;
    }

    #cta {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #banner, #banner img, #home .shape {
        display: none;
    }
}

/* Menu cardápio */
@media screen and (max-width: 450px) {
    #phone_button {
        display: none;
    }
}

@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .dish {
        width: calc(100% - 12px);
    }

    #menu .section_subtitle {
        text-align: center;
    }
}

/* Depoimentos e avaliações */
@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section_title {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonials_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section_title {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }
}

/* Rodapé */
@media screen and (max-width: 600px) {
    #footer_content {
        flex-direction: column;
        gap: 20px;
    }
}